In [5]:
#CARREGA O ARQUIVO
import pandas as pd
dado = pd.read_excel("../data/Boletim_1/Anexo_G-Producao_nacional_de_OLAC.xlsx", sheetname="71-Producao OLAC Geral")

In [7]:
#PREVIA DOS DADOS
dado.head()

,Data,Código do Produto,Descrição do Produto,Região do Produtor,UF do Produtor,Descrição da Operação,Volume-Litros
0,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,NORDESTE,BA,PRODUÇÃO POR MISTURA,58045
1,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,MG,Produção por Mistura,121440
2,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,MG,Mistura de Produtos,620
3,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUL,PR,Produção por Mistura,8804
4,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,RJ,Produção por Mistura,3927364

In [8]:
#FILTRA AS COLUNAS DE INTERESSE
dado = dado[['Data', 'Descrição do Produto','Região do Produtor', 'UF do Produtor', 'Volume-Litros']]

In [10]:
#RENOMEIA AS COLUNAS
dado.columns = ['data','category','region','uf','volume']

In [11]:
#PRÉVIA DO DATAFRAME MODIFICADO
dado.head()

      data                              category    region  uf   volume
0  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS  NORDESTE  BA    58045
1  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG   121440
2  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG      620
3  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS       SUL  PR     8804
4  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  RJ  3927364

In [14]:
#EXPORTA O ARQUIVO PARA CSV
dado.to_csv("../data/producao_olac_litros.csv", sep=',', index=False)