# 1. ABRIR, EDITAR E EXPORTAR ARQUIVO

In [1]:
#IMPORTA A BIBLIOTECA PANDAS E CARREGA O ARQUIVO
import pandas as pd
#CARREGA OS DADOS DE PRODUÇÃO DO ANO DE 2016
dado = pd.read_excel("../data/Boletim_1/Anexo_G-Producao_nacional_de_OLAC.xlsx", sheetname="71-Producao OLAC Geral")

In [2]:
#PREVIA DOS DADOS
dado.head()

,Data,Código do Produto,Descrição do Produto,Região do Produtor,UF do Produtor,Descrição da Operação,Volume-Litros
0,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,NORDESTE,BA,PRODUÇÃO POR MISTURA,58045
1,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,MG,Produção por Mistura,121440
2,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,MG,Mistura de Produtos,620
3,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUL,PR,Produção por Mistura,8804
4,12/2016,620101002,ENGRENAGENS E SISTEMAS CIRCULATÓRIOS,SUDESTE,RJ,Produção por Mistura,3927364

In [3]:
#FILTRA AS COLUNAS DE INTERESSE
dado = dado[['Data', 'Descrição do Produto','Região do Produtor', 'UF do Produtor', 'Volume-Litros']]

In [4]:
#RENOMEIA AS COLUNAS
dado.columns = ['data','category','region','uf','volume']

In [5]:
#PRÉVIA DO DATAFRAME MODIFICADO
dado.head()

      data                              category    region  uf   volume
0  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS  NORDESTE  BA    58045
1  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG   121440
2  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG      620
3  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS       SUL  PR     8804
4  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  RJ  3927364

In [6]:
#EXPORTA O ARQUIVO PARA CSV
dado.to_csv("../data/producao_olac_litros.csv", sep=',', index=False)

In [7]:
#MODIFICAR A COLUNA PARA METROS CÚBICOS EM DECORRÊNCIA DO FEEDBACK RECEBIDO
dado.volume = dado.volume.apply(lambda x: x/1000)

In [8]:
dado.head()

      data                              category    region  uf    volume
0  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS  NORDESTE  BA    58.045
1  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG   121.440
2  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  MG     0.620
3  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS       SUL  PR     8.804
4  12/2016  ENGRENAGENS E SISTEMAS CIRCULATÓRIOS   SUDESTE  RJ  3927.364

In [9]:
#EXPORTA NOVO ARQUIVO PARA CSV
dado.to_csv("../data/producao_olac_M3.csv", sep=',', index=False)

# 2. ANÁLISE EXPLORATÓRIA

In [14]:
#AO TODO 12 UNIDADES DA FEDERAÇÃO POSSUEM REGISTRO PRODUÇÃO DE ÓLEO LUBRIFICANTE ACABADO (OLAC)
dado['uf'].unique(), len(dado['uf'].unique().tolist())

(array(['BA', 'MG', 'PR', 'RJ', 'RS', 'SP', 'AM', 'MS', 'MT', 'PA', 'CE',
        'GO'], dtype=object), 12)

In [21]:
#VOLUME DE PRODUÇÃO DE OLAC - EM METROS CÚBICOS - POR UNIDADE DA FEDERAÇÃO
producao_uf = dado.groupby(['uf']).sum()
producao_uf

         volume
uf
AM     1530.939
BA     5572.009
CE      454.324
GO       24.344
MG   302977.640
MS     1507.397
MT      400.468
PA        0.400
PR    15394.916
RJ  1347768.383
RS     4904.314
SP   509508.127

In [22]:
#VOLUME TOTAL PRODUZIDO DE OLAC NO ANO DE 2016
total_volume = producao_uf['volume'].sum()
total_volume

2190043.2609999995

In [23]:
#TRANSFORMA OS DADOS PARA UMA REPRESENTAÇÃO PERCENTUAL DE SUAS RESPECTIVAS PRODUÇÕES COMPARADAS AO TOTAL PRODUZIDO NO BRASIL
producao_uf['volume'] = producao_uf['volume'].apply(lambda x : str(round((x / total_volume*100),3))+" %" )

In [24]:
producao_uf

      volume
uf
AM    0.07 %
BA   0.254 %
CE   0.021 %
GO   0.001 %
MG  13.834 %
MS   0.069 %
MT   0.018 %
PA     0.0 %
PR   0.703 %
RJ  61.541 %
RS   0.224 %
SP  23.265 %